<h1>Listing news</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body length</th>

    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= link_to news.title, news %></td>
    <td><%= news.body_length %></td>

    <td><%= link_to 'Show', news %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', "/" %>
